body{
    background-color:rgb(135, 93, 79);
}
.my_carousel{
    margin: 0;
    padding: 0;
}

.carousel-item{
    max-height: 500px;
}
.carousel-item img{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
}

.house-cat h1{
    text-align: center;
    margin-top: 32px;
    background-color:bisque;
}

.card img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    height: 350px;
    width: 350px;

}

.card{
    display: flex;
    height: 500px;
    width: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.cards{
    margin: 30px;
    
}
